

body {
   background: #fffdfd;
   display: block;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.immag{
    max-width: 100%;
    height: 100%;
    display: block; 
}

footer {
   background: #0B1B2B;/* Da fare il responsile e da mettere delle critte */
   padding: 25px;
   color: #000000;   
}
.Col {
   color: #fcfcfc;
   font-family: 'Bebas Neue';
   font-style: normal;
   display: flex;
   justify-content: center;
   font-size: 20px;
}
.iman{
  width: 30%;
  float: left;

  display: flex;
  justify-content: center;
  margin: 0;
}
/*Testo Home*/
.herok {
   position: relative;
}
.herok .iman{
   max-height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.textk {
   max-width: 100%;
   margin: auto;
   padding: 0 16px;
}

.herok h2 {
   position: absolute;
   color: white;
   text-align: center;
   z-index: 100;
   margin: 0;
   bottom: 100px;
   font-size: 40px;
   font-family: 'Heebo';
}
.herok p {
   position: absolute;
   color: rgb(255, 255, 255);
   z-index: 100;
   margin: 0;
   bottom: 20px;
   font-size: 15px;
}
/*Testo Home fine*/
.hero0 {
   position: relative;
}

.hero0 .immag {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero0 .Immagi :before {
   content: "";
   background-color: rgba(255, 247, 0, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text0 {
   max-width: 10px;
   margin: 0;
   padding: 0 16px;

}

.hero0 h2 {/* Bisogna acentrare la scritta */
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}
.hero1 {
   position: relative;
}

.hero1 .immag{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero1 .Immagi :before {
   content: "";
   background-color: rgba(184, 16, 4, 0.286);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text1 {
   max-width: 10px;
   margin: auto;
   padding: 0 16px;
}

.hero1 h2 {/* Bisogna acentrare la scritta */
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}

.hero2 {
   position: relative;
}

.hero2 .immag {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero2 .Immagi :before {
   content: "";
   background-color: rgba(0, 2, 33, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text2 {
   max-width: 10px;
   margin: auto;
   padding: 0 16px;
}

.hero2 h2 {/* Bisogna acentrare la scritta */
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}

.hero3 {
   position: relative;
}

.hero3 .immag {
   max-height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero3 .Immagi :before {
   content: "";
   background-color: rgba(3, 89, 3, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text3 {
   max-width: 10px;
   margin: auto;
   padding: 0 16px;
}

.hero3 h2 {/* Bisogna acentrare la scritta */
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}
       
@media screen and  (max-width: 320px) {
 .iman  {
width: 20%;
 }
 .Col {
font-size: 1px;
 }
.herok h2{
font-size: 8px; 
bottom: 60px;
 }   

.herok p{
font-size: 4px; 
 } 
 .hero0 h2{
font-size: 25px; 
 } 
 .hero1 h2{
font-size: 25px; 
 }  
 .hero2 h2{
font-size: 25px; 
 } 
 .hero3 h2{
font-size: 25px;  
 }   
}
@media screen and  (max-width: 375px) {
   .iman  {
  width: 30%;
   }
   .Col {
  font-size: 10px;
   }
  .herok h2{
  font-size: 25px; 
 bottom: 60px;
   }   
  .herok p{
  font-size: 10px; 
   } 
   .hero0 h2{
  font-size: 25px; 
   } 
   .hero1 h2{
  font-size: 25px; 
   }  
   .hero2 h2{
  font-size: 25px; 
   } 
   .hero3 h2{
  font-size: 25px;  
   }   
  }         
  @media screen and  (max-width: 500px) {
   .immag{
    max-width: 100%;
    height: 100%;
    display: block; 
}
   header {
      flex-direction: column;
      gap: 10px;
  }
  header  a{
  font-size: 15px;
}
   .iman  {
  width: 35%;
   }
   .Col {
  font-size: 12px;
   }
  .herok h2{
  font-size: 18px; 
   bottom: 60px;
   }   
  
  .herok p{
  font-size: 10px; 
   } 
   .hero0 h2{
  font-size: 25px; 
   } 
   .hero1 h2{
  font-size: 25px; 
   }  
   .hero2 h2{
  font-size: 25px; 
   } 
   .hero3 h2{
  font-size: 25px;  
   }   
  } 

/*IDER 2*/
header a {
   text-decoration: none;
   color: #ffffff;
}
header a:hover {
   color: #f00;
   text-decoration: underline;
}
header a.attivo {
   font-weight: bold;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: #0B1B2B;
}
header p {
   margin: 0;
   font-weight: bold;
   text-transform: uppercase;
}
header nav ul {
   margin:0;
   padding: 0;
   list-style-type: none;
   display: flex;
   gap: 20px;
}
section.heroo {
   background-color: rgba(1, 0, 38, 1); 
   text-align: center;
}
section.heroo h1 {
   margin: 0;
   padding: 40px 10px;
   font-size: 40px;
   color: rgba(253, 253, 253, 0.9);
}
/*FINE IDER 2 COD*/
/*Css Pagina gemplay*/  

.immagin{
   display: block;
   width: 80%;
   height: auto;
   margin: 0 auto;
   margin-top: 500px;   
}
.frame .immagin{
   padding: 8px;
   border: 3px solid;
   border-color:rgba(204, 160, 75, 1);
}
.immagin2{
   display: block;
   width: 80%;
   height: auto;
   margin: 0 auto;
   margin-top: 700px;
   margin-top: 500px;   
}
.frame .immagin2{
   padding: 8px;
   border: 3px solid;
   border-color:rgba(204, 160, 75, 1);
}
.immagin3{
   display: block;
   width: 80%;
   height: auto;
   margin: 0 auto;
   margin-top: 700px;
   margin-top: 140px;   
}
.frame .immagin3{
   padding: 8px;
   border: 3px solid;
   border-color:rgba(204, 160, 75, 1);
}
.Container{
   display: block;
   max-width: 1200px;
   margin: 80px;   
}
  .Container1{
   display: block;
   max-width: 1200px;
   margin: 300px 80px; 
} 
.Testo2 p{
   position: absolute;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 1.3;
   }
.Testo3 p{
   position: absolute;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 1.3;
   }
.Testo4 p{ 
   width: 100%;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 0.9;
   } 
   .Testo5 p{
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 40px;
   }  
   .c-text {
   color: rgba(255, 168, 0, 1);
   font-weight: bold;
   }
   footer {
      background: #0B1B2B;
     }
   
/* Fine Css Gamplay */       
@media only screen and (max-width: 320px) {
   /* Modifica lo stile del rettangolo per dispositivi mobili */
 
  
   .Testo2 p {
      font-size: 15px;
      line-height: 1.2;
            }
   .Testo3 p {
   font-size: 15px;
   line-height: 1.2;
      } 
   .Testo4 p {
   font-size: 15px;
   line-height: 1.2;
   }
     .Testo5 p {
      font-size: 15px;
      line-height: 1.5;
    }
     .immagin{
      margin-top: 100px;
     }
     .immagin2{
      margin-top: 330px;
     }
     .immagin3{
      margin-top: 30px;
     }
   .header{
      max-width: 100%;
     }
     .Container{
   margin: 0;
   padding: 10px;
  }
  
.Container1{
   margin: 100px 0;
   padding: 10px;
}
.header{
max-width: 100%;
  }
}   
@media only screen and (max-width: 375px) {
   header {
      flex-direction: column;
      gap: 10px;
  }
  header a {
   font-size: 10px;
}
   .Testo2 p {
      font-size: 15px;
      line-height: 1.2;
            }
   .Testo3 p {
   font-size: 15px;
   line-height: 1.2;
      } 
   .Testo4 p {
   font-size: 15px;
   line-height: 1.2;
   }
     .Testo5 p {
      font-size: 15px;
      line-height: 1.5;
    }
     .immagin{
      margin-top: 100px;
     }
     .immagin2{
      margin-top: 330px;
     }
     .immagin3{
      margin-top: 30px;
     }
   .header{
      max-width: 100%;
     }
     .Container{
   margin: 0;
   padding: 10px;
  }
  
.Container1{
   margin: 100px 0;
   padding: 10px;
}
.header{
max-width: 100%;
  }
} 
 
 

