

body {
   background: #fffdfd;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
   max-width: 100%;
   height: 100%;
   display: block;
}
header h1 {
   font-size: 100px;
   padding: 50px;
   background-color: #0B1B2B;
   text-decoration: none;
   color: #fffdfd;
   text-align: center;
   margin: 0px;  
}
.hero {
   position: relative;
}

.hero img {
   max-height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}
footer {
   background: #0B1B2B;/* Da fare il responsile e da mettere delle critte */
   padding: 25px;
   font-size: 50px;
   margin: 0;
}
footer h5{
   color: #ffffff;
   font-size: 50px;
   background-color: #0B1B2B;
}
.text {
   max-width: 50px;
   margin: auto;
   padding: 0 16px;
}
.hero h2 {/* Bisogna sistemare la scritta responsile  */
   position: absolute;
   color: rgb(255, 255, 255);
   left: 50px;
   bottom: 320px;
   z-index: 100;
   margin: 0;
   font-size: 25px;
   font-family: 'Heebo';
   font-style: light;
}
.hero h1 {/* Bisogna sistemare la scritta responsile */
   position: absolute;
   color: rgb(255, 255, 255);
   left: 50px;
   bottom: 265px;
   z-index: 100;
   margin: 0;
   font-size: 30px;
   font-family: 'Heebo';
   font-style: mixed;
}
.hero p {/* Bisogna sistemare la scritta responsile Mukta */
   position: absolute;
   color: rgb(255, 255, 255);
   left: 50px;
   bottom: 185px;
   z-index: 100;
   margin: 0;
   font-size: 20 px;
   font-family: 'Mukta';
   font-style: mixed;
}
.hero0 {
   position: relative;
}

.hero0 img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero0 .Immagi :before {
   content: "";
   background-color: rgba(255, 247, 0, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text0 {
   max-width: 10px;
   margin: 0;
   padding: 0 16px;

}

.hero0 h2 {/* Bisogna acentrare la scritta */
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}
.hero1 {
   position: relative;
}

.hero1 img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero1 .Immagi :before {
   content: "";
   background-color: rgba(184, 16, 4, 0.286);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text1 {
   max-width: 10px;
   margin: auto;
   padding: 0 16px;
}

.hero1 h2 {/* Bisogna acentrare la scritta */
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}

.hero2 {
   position: relative;
}

.hero2 img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero2 .Immagi :before {
   content: "";
   background-color: rgba(0, 2, 33, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text2 {
   max-width: 10px;
   margin: auto;
   padding: 0 16px;
}

.hero2 h2 {/* Bisogna acentrare la scritta */
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}

.hero3 {
   position: relative;
}

.hero3 img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero3 .Immagi :before {
   content: "";
   background-color: rgba(3, 89, 3, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text3 {
   max-width: 10px;
   margin: auto;
   padding: 0 16px;
}

.hero3 h2 {/* Bisogna acentrare la scritta */
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}
       
@media screen and  (max-width: 500px) {
    img {
       width:100% ;
       height:100%;
   }
   footer {
       padding: 15px;
       font-size: 15px;
   }
   header h1 {
       font-size: 40px;
       padding: 40px;
   }
   .hero h2{
   font-size: 40px;
   }
   .hero1 h2{
       font-size: 40px;
       }
   .hero2 h2{
       font-size: 40px;
       }
  
}
           
@media screen and  (max-width: 400px) {
 img {
    width:100% ;
    height:100%;
}
footer {
   padding: 15px;
   font-size: 15px;
}
header h1 {
    font-size: 40px;
    padding: 40px;
}
.hero h2{
font-size: 40px;
}
.hero1 h2{
    font-size: 40px;
    }
.hero2 h2{
    font-size: 40px;
    }
    .hero3 h2{
        font-size: 40px;
        }
       
    } 
/*Css Pagina gemplay*/  
/*IDER 2*/
nav ul {
   margin:0;
   padding: 0;
   list-style-type: none;
   display: flex;
   gap: 150px;
}
nav ul ul{
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
}
nav ul li{
position: relative;
float: left;

}
nav ul li:hover ul{ display: block;}

nav ul li li{
 position: relative;
 float: none;
 width: 100%;
 border: none;
}

nav ul li a{
   display: block;
   text-decoration: none;
   color: #000000;
   padding: 15px 50px;
   font-size: 1.2em;
   box-sizing: border-box;
   font-family: 'Bebas Neue';
   font-size: x-large;
}

nav ul li:hover a{
   background: #ff0000;
   color: #fffdfd;
   text-decoration: none;
   transition: 0.5s;
}
/*FINE IDER 2 COD*/

img {
   width: 100%;
   height:100%;
   object-fit: cover;
}                                                     
.rectangle{
   position: absolute;
    width: 100%;
    height: 280px;
    background-color: rgba(1, 0, 38, 1)
    }
.tsc h2{
   font-size: 190px;
   color: #fffdfd;
   font-family: 'Bebas Neue';
   font-style: normal;
   font-weight: 0px;
   letter-spacing: 0.025em;
   margin-left: 0px;
   margin: 20px 5px 0 0;
}

.Immagine{
   margin-top: 500px;
   max-width: 100%;
   height: auto;
    }

.Testo2 p{
   position: absolute;
   width: 100%;
   top: 620px;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 45px;
   margin-left: 15px; 
    }


.Testo3 p{
   position: absolute;
   width: 100%;
   top: 1610px;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 45px;
   margin-left: 25px;
    }

    .c-text{
      color: #FFA800;
    }
    .Immagine2{
      margin-top: 550px;
      max-width: 100%;
      height: auto;
       }

.Testo4 p{
   position: absolute;
   width: 100%;
   top: 3100px;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 45px;
   margin-left: 25px;
    }
   .Immagine3{
      margin-top: 550px;
      max-width: 100%;
      height: auto;
       }

       
@media only screen and (max-width: 600px) {
   /* Modifica lo stile del rettangolo per dispositivi mobili */
   .rectangle {
   height: 130px; /* Modifica l'altezza del rettangolo per dispositivi mobili */
   }
   .Testo h2 {
   margin-left: 20px;
   font-size: 90px;
   }
   .Testo2 p{
   top: 220px;
   font-size: 30px;
   }
}    