

body {
   background: #fffdfd;
   display: block;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/*Css Home*/
.immag{
    max-width: 100%;
    height: 100%;
    display: block; 
}
footer {
   background: #062039;
   padding: 25px;
   color: #000000;   
}
.Col {
   color: #fcfcfc;
   font-family: 'Bebas Neue';
   font-style: normal;
   display: flex;
   justify-content: center;
   font-size: 30px;
}
.in{
  color: #fcfcfc;
  font-size: 30px;
  float: left;
  margin: 10px;
  padding: 20px;
}
/*Testo Home*/
.Immagi{
height: auto;
width: 100%;
object-fit: cover;
object-position: center;
}
.herok {
   position: relative;
}
.herok .immag{
   max-height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}
.textk {
   max-width: 100%;
   margin: auto;
   padding: 0 16px;
}
.herok h2 {
   position: absolute;
   color: white;
   text-align: center;
   z-index: 100;
   margin: 0;
   bottom: 100px;
   font-size: 40px;
   font-family: 'Heebo';
}
.herok p {
   position: absolute;
   color: rgb(255, 255, 255);
   z-index: 100;
   margin: 0;
   bottom: 20px;
   font-size: 15px;
}
/*Testo Home fine*/
.hero0 {
   position: relative;
}

.hero0 .immag {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero0 .Immagi :before {
   content: "";
   background-color: rgba(255, 247, 0, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text0 {
   max-width: 10px;
   margin: 0;
   padding: 0 16px;

}

.hero0 h2 {
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}
.hero1 {
   position: relative;
}

.hero1 .immag{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero1 .Immagi :before {
   content: "";
   background-color: rgba(184, 16, 4, 0.286);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text1 {
   max-width: 10px;
   margin: auto;
   padding: 0 16px;
}

.hero1 h2 {
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}

.hero2 {
   position: relative;
}

.hero2 .immag {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero2 .Immagi :before {
   content: "";
   background-color: rgba(0, 2, 33, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text2 {
   max-width: 10px;
   margin: auto;
   padding: 0 16px;
}

.hero2 h2 {
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}

.hero3 {
   position: relative;
}

.hero3 .immag {
   max-height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.hero3 .Immagi :before {
   content: "";
   background-color: rgba(3, 89, 3, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text3 {
   max-width: 10px;
   margin: auto;
   padding: 0 16px;
}

.hero3 h2 {
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 100;
   margin: 0;
   font-family: 'Bebas Neue';
   font-style: normal;
}
       
@media screen and  (max-width: 320px) {
 .in {
font-size: 8px;
 }
 .Col {
font-size: 5px;
 }
.herok h2{
font-size: 8px; 
bottom: 60px;
 }   

.herok p{
font-size: 4px; 
 } 
 .hero0 h2{
font-size: 25px; 
 } 
 .hero1 h2{
font-size: 25px; 
 }  
 .hero2 h2{
font-size: 25px; 
 } 
 .hero3 h2{
font-size: 25px;  
 }   
}
@media screen and  (max-width: 375px) {
   .in {
      font-size: 12px;
   }
   .Col {
  font-size: 10px;
   }
  .herok h2{
  font-size: 25px; 
 bottom: 60px;
   }   
  .herok p{
  font-size: 10px; 
   } 
   .hero0 h2{
  font-size: 25px; 
   } 
   .hero1 h2{
  font-size: 25px; 
   }  
   .hero2 h2{
  font-size: 25px; 
   } 
   .hero3 h2{
  font-size: 25px;  
   }   
}         
  @media screen and  (max-width: 500px) {
   .in {
      font-size: 15px;
       }
       .Col {
      font-size: 10px;
       }
   header {
      flex-direction: column;
      gap: 10px;
  }
  header  a{
  font-size: 15px;
}
   .iman  {
  width: 35%;
   }
   .Col {
  font-size: 12px;
   }
  .herok h2{
  font-size: 18px; 
   bottom: 65px;
   }   
  .herok p{
  font-size: 10px; 
   } 
   .hero0 h2{
  font-size: 25px; 
   } 
   .hero1 h2{
  font-size: 25px; 
   }  
   .hero2 h2{
  font-size: 25px; 
   } 
   .hero3 h2{
  font-size: 25px;  
   }   
} 
/*Css Gome Fine*/
/*IDER */
header a {
   text-decoration: none;
   color: #ffffff;
}
header a:hover {
   color: #f00;
   text-decoration: underline;
}
header a.attivo {
   font-weight: bold;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: #062039;
}
header p {
   margin: 0;
   font-weight: bold;
   text-transform: uppercase;
   color: #ffffff;
}
header nav ul {
   margin:0;
   padding: 0;
   list-style-type: none;
   display: flex;
   gap: 20px;
}
/*FINE IDER  COD*/
/*Css scritte iniziali pagine*/
section.heroo {
   background-color: rgba(1, 0, 38, 1); 
   text-align: center;
}
section.heroo h1 {
   margin: 0;
   padding: 40px 10px;
   font-size: 40px;
   color: rgba(253, 253, 253, 0.9);
}
section.heroo1 {
   background-color: rgba(173, 136,22); 
   text-align: center;
}
section.heroo1 h1 {
   margin: 0;
   padding: 40px 10px;
   font-size: 40px;
   color: rgba(253, 253, 253, 0.9);
}
section.heroo2 {
   background-color: rgba(82, 23,22); 
   text-align: center;
}
section.heroo2 h1 {
   margin: 0;
   padding: 40px 10px;
   font-size: 40px;
   color: rgba(253, 253, 253, 0.9);
}
section.heroo3 {
   background-color: rgba(8,6,93); 
   text-align: center;
}
section.heroo3 h1 {
   margin: 0;
   padding: 40px 10px;
   font-size: 40px;
   color: rgba(253, 253, 253, 0.9);
}
section.heroo4 {
   background-color: rgba(36,64,50); 
   text-align: center;
}
section.heroo4 h1 {
   margin: 0;
   padding: 40px 10px;
   font-size: 40px;
   color: rgb(255, 255, 255);
}
section.heroo5 {
   background-color: rgba(57, 36, 60); 
   text-align: center;
}
section.heroo5 h1 {
   margin: 0;
   padding: 40px 10px;
   font-size: 40px;
   color: rgba(253, 253, 253, 0.9);
}
/*Css scritte iniziali pagine*/

/*Css Pagina gemplay*/  
.immagin{
   display: block;
   width: 80%;
   height: auto;
   margin: 0 auto;
   margin-top: 410px;   
}
.frame .immagin{
   padding: 8px;
   border: 3px solid;
   border-color:rgba(204, 160, 75, 1);
}
.immagin2{
   display: block;
   width: 80%;
   height: auto;
   margin: 0 auto;
   margin-top: 600px;
    
}
.frame .immagin2{
   padding: 8px;
   border: 3px solid;
   border-color:rgba(204, 160, 75, 1);
}
.immagin3{
   display: block;
   width: 80%;
   height: auto;
   margin: 0 auto;
   margin-top: 240px;   
}
.frame .immagin3{
   padding: 8px;
   border: 3px solid;
   border-color:rgba(204, 160, 75, 1);
}
.Container{/*Testo*/
   display: block;
   max-width: 1200px;
   margin: 10px 80px;  
}
.Container1{  /*Titolo*/
   display: block;
   max-width: 1200px;
   margin: 10px 80px; 
} 

.titolo01 h1{
margin: 250px 0px;
position: absolute;
font-family: 'Mukta';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 1.3;
color: #FFA800;
}
.titolo02 h1{
margin: 450px 0px;
position: absolute;
font-family: 'Mukta';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 2.3;
color: #FFA800;
}
.titolo03 h1{
   margin: 0px 0px;
   position: absolute;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 45px;
   line-height: 1.3;
   color: #FFA800;
   }

.Testo2 p{
   position: absolute;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 1.3;
   }
.Testo3 p{
   position: absolute;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 1.3;
   }
.Testo4 p{ 
   width: 100%;
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 0.9;
   } 
   .Testo5 p{
   font-family: 'Mukta';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 40px;
   }  
   .c-text {
   color: rgba(255, 168, 0, 1);
   font-weight: bold;
   }
 
      
@media only screen and (max-width: 320px) {
   /* Modifica lo stile del rettangolo per dispositivi mobili */
  
   .titolo01 h1{
      font-size: 15px;
   }
   .titolo02 h1{
      font-size: 15px;
   }
   .titolo03 h1{
      font-size: 15px;
   }
   .Testo2 p {
      font-size: 15px;
      line-height: 1.2;
   }         
   .Testo3 p {
   font-size: 15px;
   line-height: 1.2;
      } 
   .Testo4 p {
   font-size: 15px;
   line-height: 1.2;
   }
     .Testo5 p {
      font-size: 15px;
      line-height: 1.5;
    }
     .immagin{
      margin-top: 30px;
     }
     .immagin2{
      margin-top: 330px;
     }
     .immagin3{
      margin-top: 30px;
     }
   .header{
      max-width: 100%;
     }
   
}   
@media only screen and (max-width: 375px) {
   header {
      flex-direction: column;
      gap: 10px;
  }
  header a {
   font-size: 10px;
}
.titolo01 h1{
   font-size: 10px;
  
}
.titolo02 h1{
   font-size: 10px;
}
.titolo03 h1{
     font-size: 10px;
}
   .Testo2 p {
      font-size: 8px;
      line-height: 1.2;
            }
   .Testo3 p {
      font-size: 8px;
   line-height: 1.2;
      } 
   .Testo4 p {
   font-size: 8px;
   line-height: 1.2;
   }
     .Testo5 p {
      font-size: 8px;
      line-height: 1.5;
    }
     .immagin{
      margin-top: 100px;
     }
     .immagin2{
      margin-top: 0px;
     }
     .immagin3{
      margin-top: 0px;
     }
   .header{
      max-width: 100%;
     }
    
  .in{
   font-size: 10px;
  }
  .Col{
   font-size: 10px;
  }
} 
@media only screen and (max-width: 500px) {
   header {
      flex-direction: column;
      gap: 10px;
  }
  header a {
   font-size: 10px;
}
.titolo01 h1{
   font-size: 25px;
   margin: 50px 0px;
}
.titolo02 h1{
   font-size: 20px;
   margin: 50px 0px;
   
}
.titolo03 h1{
   font-size: 20px;
   margin: 0px 0px;
}
   .Testo2 p {
      font-size: 13px;
      line-height: 1.2;
            }
   .Testo3 p {
   font-size: 15px;
   line-height: 1.2;
      } 
   .Testo4 p {
   font-size: 15px;
   line-height: 1.2;
   }
     .Testo5 p {
      font-size: 15px;
      line-height: 1.5;
    }
     .immagin{
      margin-top: 90px;
     }
     .immagin2{
      margin-top: 100px;
     }
     .immagin3{
      margin-top: 40px; 
     }
   
     .Container{
   margin: 0;
   padding: 10px;
  }
  

.header{
max-width: 100%;
  }
}
/* Fine Css Gamplay */   
 

